#container {
    width: 600px;
    height: 600px;
    background-color: lightgray;
       position: relative;
}

.square {
    background-color: red;
    position: absolute;
}

.rectangle {
	width: 200px;
    height: 100px;
    background: green;
    position: absolute;
}

.circle {
	background: purple;
    border-radius: 50%;
    position: absolute;
}

.triangle {
	width: 0;
    height: 0;
    border-color: transparent;
    border-bottom-color: yellow;
    border-style: solid;
    position: absolute;
}

.sidebar{
    position: right;
}
